---
# Only the main Sass file needs front matter
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* custom icon colors */
.author__urls .fa-google-scholar,
.page__footer .fa-google-scholar {
  color: #4285F4 !important;
}

.author__urls .fa-orcid,
.page__footer .fa-orcid {
  color: #A6CE39 !important;
}

/* custom citation format */
.page__content .pub-citation {
  font-family:  Consolas, "Courier New", monospace; /*'Libre Baskerville', Georgia, serif; */
  font-size: 0.5em;
  color: #828282;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}

.pub-citation strong {
  font-weight: 700;
}
